.carousel-container {
  display: grid;
  height: inherit;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

.carousel-description-container{
  grid-column-start: 1;
  grid-column-end: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 24px;
}

.carousel-description{
  grid-column-start: 2;
  grid-column-end: span 5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
  height: auto;
  margin: auto;
}

.description1{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-bottom: 12px;
  text-align: center;
}

.description2{
  font-size: 56px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -2px;
  text-align: center;
}

.description3{
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.carousel-asset-container{
  grid-column-start: 7;
  grid-column-end: span 6;
  position: relative;
}

.carousel-asset{
  width: auto;
  height: 600px;
  display: block;
}

.netflix{
  padding-top: 27.536231884057973%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.description-netflix{
  border-radius: 110px;
  display: inline-flex;
  margin-top: 16px;
  padding: 16px 24px;
  align-items: center;
  background: #fff;
  width: fit-content;
}

.netflix-text{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
}

.carousel {
  .carousel-indicators{
    li{
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: #423f3f;
    }
  }
}


