.home{
    height: 100vh;
    background-color: white;
}

.iconos{
    color: white;
}

.sideBarcolor{
    background-color: #4D4940 !important;
    //background-color: #4C3B4D !important;

}

.sidebar-menuItem{
    font-size:25px;
}