.home{
    height: 100vh;
    background-color: white;
}

.iconos{
    color: white;
}

.sideBarcolor{
    background-color: #FFC100 !important;
    color: #FFC100 !important;

}

.sidebar-menuItem{
    font-size:25px;
}