@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "~material-design-icons/iconfont/material-icons.css";
@import '~react-pro-sidebar/dist/scss/styles.scss';
@import '../components/utils/utils';
@import '../components/404/404.css';
@import '../components/navbar/navbar';
@import '../components/homeView/homeView';
@import '../components/perfil/perfil';
@import '../components/carousel/carousel';

body {
    overflow-x:hidden;
}

.main-view{
    background: #fff;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}

.carousel-main-container{
    height: 600px;
    margin: 0 auto;
    //max-width: 1392px;
    background: #F5F6F4;
    overflow: hidden;
}

.carousel-space{
    height: 624px;
}
